# Distribution / packaging
.Python
dist/
*.egg*
build
coverage
.coverage*
*.xml
.venv
.ruff_cache
sg_execution_times.rst

# Sphinx documentation
doc/_build/
doc/generated/
doc/auto_examples/
doc/auto_tutorials/
doc/modules/generated/
doc/sphinxext/cachedir
pip-log.txt
.coverage
tags
doc/coverages
doc/samples
cover

# Pycharm
.idea/

*.pyc

.cache
.pytest_cache
.ipynb_checkpoints
.DS_Store
.vscode/

__pycache__
