Adam Li <adam2392@gmail.com>
Alex Rockhill <aprockhill206@gmail.com>
Alex Rockhill <aprockhill206@gmail.com> <aprock@uw.edu>
Alex Rockhill <aprockhill206@gmail.com> <aprockhill@mailbox.org>
Alexandre Gramfort <alexandre.gramfort@m4x.org>
Ariel Rokem <arokem@gmail.com>
Chris Holdgraf <choldgraf@gmail.com>
Chris Holdgraf <choldgraf@gmail.com> <choldgraf@berkeley.edu>
Clemens Brunner <clemens.brunner@gmail.com>
Kambiz Tavabi <ktavabi@gmail.com>
Mainak Jas <mainakjas@gmail.com>
Mainak Jas <mainakjas@gmail.com> <jasmainak@users.noreply.github.com>
Marijn van Vliet <w.m.vanvliet@gmail.com>
Maximilien Chaumon <maximilien.chaumon@gmail.com>
Maximilien Chaumon <maximilien.chaumon@gmail.com> <maximilien.chaumon@icm-institute.org>
Romain Quentin <rom.quentin@gmail.com>
Richard Höchenberger <richard.hoechenberger@gmail.com>
Sophie Herbst <ksherbst@gmail.com>
Stefan Appelhoff <stefan.appelhoff@mailbox.org>
Teon Brooks <teon.brooks@gmail.com>
Dominik Welke <dominik.welke@ae.mpg.de>
Dominik Welke <dominik.welke@ae.mpg.de> dominikwelke <33089761+dominikwelke@users.noreply.github.com>
Ezequiel Mikulan <e.mikulan@gmail.com>
Fu-Te Wong <zuxfoucault@yahoo.com.tw>
Matt Sanderson <monkey_man_192@yahoo.com.au>
Robert Luke <748691+rob-luke@users.noreply.github.com>
Evgenii Kalenkovich <e.kalenkovich@gmail.com>
