node_js:
  - "6.11.0"
language: python

env:
  - PYTHON_VERSION=2.7
  - PYTHON_VERSION=3.6

before_install:
  - wget -q http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh
  - chmod +x miniconda.sh
  - ./miniconda.sh -b -p /home/travis/miniconda
  - export PATH=/home/travis/miniconda/bin:$PATH
  - conda update --yes --quiet conda
install:
    - conda create -n testenv --yes pip python=${PYTHON_VERSION}
    - source activate testenv
    - conda install --yes --quiet numpy=1.13.1 scipy=0.19.1 matplotlib pandas=0.20.3
    - pip install flake8 pytest nose coverage coveralls
    - |
      git clone --depth 1 https://github.com/mne-tools/mne-python.git -b maint/0.16
      cd mne-python
      pip install --no-deps -e .
      cd ../
    - python setup.py develop
    - npm install -g https://github.com/INCF/bids-validator.git#f8b71e47323e885168103be33d3bcbf7ea3b7da9
script:
    - make
    - flake8 --count mne_bids
after_success:
  - bash <(curl -s https://codecov.io/bash)
