environment:
  global:
      nodejs_version: "10.0.0"
      PYTHON: "C:\\conda"
  matrix:
      - PYTHON_VERSION: "3.6"
        PYTHON_ARCH: "64"

install:
  - "git clone --depth 1 git://github.com/astropy/ci-helpers.git"
  - "powershell ci-helpers/appveyor/install-miniconda.ps1"
  - "SET PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%"
  - "activate test"
  - "conda install numpy=1.13.1 scipy=0.19.1 matplotlib pandas=0.20.3"
  - "pip install flake8 pytest==3.3.2 pytest-cov pytest-sugar pytest-faulthandler codecov"
  - "pip uninstall -yq mne"
  - |-
    cd ..
    git clone --depth 1 https://github.com/mne-tools/mne-python.git -b maint/0.17
    cd mne-python
    python setup.py develop
    cd ..
    cd mne-bids
  - "python setup.py develop"
  - ps: Install-Product node $env:nodejs_version
  - npm install -g https://github.com/bids-standard/bids-validator.git#1.1.0
  - node --version
  - npm --version
  - bids-validator --version
  - which bids-validator
  - "python -c \"import mne; mne.datasets.testing.data_path()\""

build: false

test_script:
  - "py.test mne_bids --cov=mne_bids"

on_success:
- "codecov"
