include *.rst
include LICENSE
include mne_bids/__init__.py

recursive-include examples *.py
recursive-include examples README.rst

recursive-include mne_bids *.py

include mne_bids/assets/*

### Exclude

exclude .zenodo*
exclude .github
exclude .github/PULL_REQUEST_TEMPLATE.md
exclude Makefile
exclude CONTRIBUTING.md
exclude *.yml
exclude .mailmap
exclude paper
recursive-exclude mne_bids *.pyc

recursive-exclude doc *
recursive-exclude paper *

exclude test_requirements.txt
