include MANIFEST.in
include LICENSE
include README.md

graft examples
graft mne_bids
graft doc


### Exclude

global-exclude *.py[co]
global-exclude __pycache__

recursive-exclude .github *
recursive-exclude doc/_build *
recursive-exclude doc/generated *
recursive-exclude doc/auto_examples *

recursive-exclude tools *
exclude tools

prune .circleci
prune paper

exclude CITATION.cff
exclude Makefile
exclude CONTRIBUTING.md
exclude *.yml
exclude .mailmap
exclude test_requirements.txt
exclude .gitignore
