mne>=1.4
numpy>=1.20.2
scipy>=1.6.3
nibabel>=3.2.1
pybv>=0.7.5
pymatreader>=0.0.30
matplotlib>=3.4.0
pandas>=1.2.4
EDFlib-Python>=1.0.6
pytest
pytest-cov
pytest-sugar
check-manifest
pydocstyle
flake8
black
