version: 2
jobs:
    build:
        docker:
            - image: circleci/python:3.7.3-stretch
        steps:
            - checkout

            # restore cache from last build. Unless __init__.py has changed since then
            - restore_cache:
                keys:
                  - data-cache-0-{{ checksum "./mne_bids/__init__.py" }}

            - run:
                name: Install miniconda
                command: |
                  wget -q https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh -O ~/miniconda.sh;
                  chmod +x ~/miniconda.sh;
                  ~/miniconda.sh -b -p ~/miniconda;
                  echo "export PATH=~/miniconda/bin:$PATH" >> $BASH_ENV;

            - run:
                name: Setup Python environment
                command: |
                  conda update --yes --quiet conda
                  conda create -n testenv --yes python=3.6
                  source activate testenv
                  conda install --yes --quiet numpy scipy matplotlib
                  pip install sphinx numpydoc sphinx-gallery sphinx_bootstrap_theme pillow
                  pip install -U mne
                  python setup.py develop

            - run:
                name: Build the documentation
                command: |
                    source activate testenv
                    make build-doc

            - store_artifacts:
                path: doc/_build/html/
                destination: html

            # Store the data cache
            - save_cache:
                key: - data-cache-0-{{ checksum "./mne_bids/__init__.py" }}
                paths:
                  - ~/mne_data

            - add_ssh_keys:
                fingerprints:
                  - "bf:ac:92:1d:dc:ca:a0:2d:aa:f6:b2:b6:d5:1c:ac:74"

            - deploy:
                name: github pages deployment
                command: |
                  source activate testenv
                  if [ "${CIRCLE_BRANCH}" == "maint/0.2" ]; then
                    echo "Deploying stable docs for ${CIRCLE_BRANCH}.";
                    git config --global user.email "circle@mne.com";
                    git config --global user.name "Circle Ci";
                    cd doc;
                    make install;
                  else
                    echo "No deployment (build: ${CIRCLE_BRANCH}).";
                  fi
