numpy>=1.18.1
scipy>=1.5.0
mne>=1.2
matplotlib<3.7
pandas>=1.0.0
nibabel>=2.5
pybv>=0.7.5
openneuro-py>=2022.2
EDFlib-Python>=1.0.6
pymatreader>=0.0.30
pytest
pytest-cov
pytest-sugar
check-manifest
pydocstyle
flake8
