name: build

on:
  push:
    branches: ['**']
  pull_request:
    branches: ['**']
  create:
    branches: [master]
    tags: ['**']

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-18.04, ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.8]

    env:
      TZ: Europe/Berlin
    steps:
    - uses: actions/checkout@v2
    - name: Set up Node.js
      uses: actions/setup-node@v1.4.2
      with:
        node-version: 12
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies using pip
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Install MNE (stable)
      if: "matrix.os != 'ubuntu-latest'"
      run: |
        git clone --depth 1 https://github.com/mne-tools/mne-python.git -b maint/0.20
        pip install --no-deps -e ./mne-python
    - name: Install MNE (master)
      if: "matrix.os == 'ubuntu-latest'"
      run: |
        git clone --depth 1 https://github.com/mne-tools/mne-python.git -b master
        pip install --no-deps -e ./mne-python

    - name: Install BIDS validator (stable)
      if: "matrix.os != 'ubuntu-latest'"
      run: |
        npm install -g bids-validator
    - name: Install BIDS validator (master)
      if: "matrix.os == 'ubuntu-latest'"
      run: |
        cd ..
        git clone --depth 1 https://github.com/bids-standard/bids-validator
        cd bids-validator
        git checkout master
        yarn
        echo "::add-path::$(pwd)/bids-validator/bin"
        cd ../mne-bids

    - name: Display versions and environment information
      shell: bash
      run: |
        echo $TZ
        date
        echo "npm"; npm --version
        echo "node"; node --version
        echo "bids-validator"; bids-validator --version
        python --version
        which python
        mne sys_info
    - name: Install MNE-BIDS
      shell: bash
      run: pip install --no-deps .
    - name: Run pytest
      shell: bash
      run: |
        echo "bids-validator"; bids-validator --version
        pytest . --cov=./mne_bids --cov-report=xml --verbose --ignore mne-python
    - name: Run style & documentation tests
      if: "matrix.os == 'ubuntu-latest'"
      run: make pep
    - name: Upload coverage stats to codecov
      if: "matrix.os == 'ubuntu-latest'"
      run: bash <(curl -s https://codecov.io/bash)
