name: test_suite

on:
  push:
    branches: ['**']
  pull_request:
    branches: ['**']
  create:
    branches: [main]
    tags: ['**']
  schedule:
    - cron: "0 4 * * *"

jobs:
  style:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.8]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - uses: actions/cache@v2
      with:
        path: ${{ env.pythonLocation }}
        key: style-${{ env.pythonLocation }}-${{ hashFiles('setup.cfg') }}-${{ hashFiles('test_requirements.txt') }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pydocstyle flake8 check-manifest
    - name: Display versions and environment information
      run: |
        python --version
        which python
    - name: Run style & documentation tests
      run: make pep

  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version: [3.7, 3.8, 3.9]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - uses: actions/cache@v2
      with:
        path: ${{ env.pythonLocation }}
        key: build-${{ env.pythonLocation }}-${{ hashFiles('setup.cfg') }}-${{ hashFiles('test_requirements.txt') }}

    - name: Update pip, wheel, and setuptools
      run: python -m pip install --upgrade pip wheel setuptools

    - name: Build sdist
      run: python setup.py sdist
    - name: Install sdist
      run: pip install ./dist/mne-bids-*
    - name: Clean up working directory
      run: rm -rf ./*
    - name: Try importing mne_bids
      run: python -c 'import mne_bids; print(mne_bids.__version__)'
    - name: Try cli mne_bids
      run: mne_bids --version
    - name: Remove sdist install
      run: pip uninstall -y mne-bids

    - uses: actions/checkout@v2
    - name: Build wheel
      run: python setup.py bdist_wheel
    - name: Install wheel
      run: pip install ./dist/mne_bids-*.whl
    - name: Clean up working directory
      run: rm -rf ./*
    - name: Try importing mne_bids
      run: python -c 'import mne_bids; print(mne_bids.__version__)'
    - name: Try cli mne_bids
      run: mne_bids --version
    - name: Remove wheel install
      run: pip uninstall -y mne-bids

    - uses: actions/checkout@v2
    - name: Test extras install
      run: |
        pip install .[full]
        python -c 'import mne_bids; print(mne_bids.__version__)'
        python -c 'import pybv; print(pybv.__version__)'
        python -c 'import nibabel; print(nibabel.__version__)'
        python -c 'import matplotlib; print(matplotlib.__version__)'
        python -c 'import pandas; print(pandas.__version__)'
        python -c 'import openneuro; print(openneuro.__version__)'

  test:
    timeout-minutes: 60
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-18.04, ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.8, 3.9]
        bids-validator: [main, stable]

    env:
      TZ: Europe/Berlin
      FORCE_COLOR: true
      THIS_OS: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: 14

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Restore cache
      # Restoring cache on Ubuntu 20.04 seems buggy
      # only do it on other operating systems
      # https://stackoverflow.com/q/61875869/5201771
      if: "matrix.os != 'ubuntu-latest'"
      uses: actions/cache@v2
      with:
        path: ${{ env.pythonLocation }}
        key: test-${{ env.pythonLocation }}-${{ hashFiles('setup.cfg') }}-${{ hashFiles('test_requirements.txt') }}

    - name: Install Python dependencies using pip
      run: |
        python -m pip install --upgrade pip wheel
        pip install -r test_requirements.txt

    - name: Install MNE (stable)
      if: "matrix.os != 'ubuntu-latest'"
      run: |
        git clone --depth 1 https://github.com/mne-tools/mne-python.git -b main  # XXX: move to maint/0.24 after release
        pip install --no-deps -e ./mne-python

    - name: Install MNE (main)
      if: "matrix.os == 'ubuntu-latest'"
      run: |
        git clone --depth 1 https://github.com/mne-tools/mne-python.git -b main
        pip install --no-deps -e ./mne-python

    - name: Install BIDS validator (stable)
      if: "matrix.bids-validator == 'stable'"
      run: |
        npm install -g bids-validator

    - name: Install BIDS validator (main)
      if: "matrix.bids-validator == 'main'"
      run: |
        pushd ..
        # Get npm 7+
        npm i -g npm@^7
        git clone --depth 1 https://github.com/bids-standard/bids-validator
        cd bids-validator
        # Generate the full development node_modules
        npm i
        # Build & bundle the bids-validator CLI package
        npm --prefix bids-validator run build
        # Generate a package to install globally
        npm --prefix bids-validator pack
        # Install the package globally (different path expansion for Windows)
        if [ "${THIS_OS}" == 'windows-latest' ]; then
          npm i -g | dir /b bids-validator-*.tgz
        else
          npm i -g bids-validator-*.tgz
        fi
        popd

    - name: Display versions and environment information
      run: |
        echo $TZ
        date
        echo "npm"; npm --version
        echo "node"; node --version
        echo "bids-validator"; bids-validator --version
        echo "python"; python --version
        which python
        mne sys_info

    - name: Install MNE-BIDS
      run: pip install --no-deps -e .

    - name: Run pytest
      run: make test
      shell: bash

    - name: Upload coverage stats to codecov
      if: ${{ matrix.os == 'ubuntu-latest' && matrix.python-version == '3.9' && matrix.bids-validator == 'main' }}
      uses: codecov/codecov-action@v2
      with:
        files: ./coverage.xml
